<%= form_for (recipe) do |f| %>

  <div class="error_css">
      <% if recipe.errors.any? %>
        <h2> Errors! </h2>
        <ul>
          <%  recipe.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
          <% end  %>
        </ul>
      <% end %>
  </div>

  <%= button_tag "x", type: "submit", name: "cancel", value: true, id: "cancel_button" %></h3>

  <h3> <%= f.label :name, t("recipe.name") %> </h3>
    <%= f.text_field :name %>

  <fieldset><legend><%= t("recipe.category") %></legend>
    <% categories.each do |category| %>
      <%= radio_button_tag(:category_id, category.id, value: :category_id) %>
      <%= label_tag(:category_id, category.name, :class => "category_names") %>
    <% end %>
  </fieldset>

  <fieldset><legend><%= t("recipe.difficulty") %></legend>
    <%= radio_button_tag(:complexity, "1", value: :complexity) %>
    <%= label_tag(:complexity, t("form.easy")) %>
    <%= radio_button_tag(:complexity, "2", value: :complexity) %>
    <%= label_tag(:complexity, t("form.average")) %>
    <%= radio_button_tag(:complexity, "3", value: :complexity) %>
    <%= label_tag(:complexity, t("form.hard")) %>
  </fieldset>

  <div class="servings_field"><h3><%= f.label(:servings, t("recipe.servings")) %></h3>
      <%= f.number_field :servings, min: 1, max: 20 %></div>

  <div class="prep_time_field"><h3><%= f.label(:prep_time, t("recipe.prep_time")) %></h3>
      <%= f.number_field :prep_time %></div>

  <h3> <%= f.label :ingredients, t("recipe.ingredients") %> </h3>
    <%= f.text_area :ingredients %>

  <h3> <%= f.label :directions, t("recipe.directions") %> </h3>
    <%= f.text_area :directions %>

  <fieldset><legend><%= t("form.photo_upload") %></legend>
    <div class="load_image_menu">
      <div class="upload_image">
        <%=f.label :photos, t("form.upload_photo"), accept: "application/pdf,image/png,image/jpg,image/jpeg" %>
        <%=f.file_field :photos, multiple: true %>
      </div>
      <div class="show_image">
        <% if recipe.photos.attached? %>
          <%recipe.photos.each do |photo|%>
            <h3><%= t("form.photo_name") %> &nbsp;<%= photo.filename %></h3>
          <%end%>
        <%end%>
      </div>
      <div class="remove_image">
        <%=f.label :remove_photos, t("form.remove_photos") %>
        <%= f.check_box :remove_photos %>
      </div>
    </div>
  </fieldset>

  <fieldset><legend><%= t("form.web_grabbed") %></legend>
    <div class="load_image_menu">
      <div class="upload_image">
        <%=f.label :screencapture, t("form.input_URL") %>
        <%=f.url_field :screencapture, value: nil %>
      </div>
      <div class="image_name">
        <%=f.label :screencapture_name, t("form.screencapture_name") %>
        <%= f.text_field :screencapture_name, value: nil, size: 30, maxlength: 100 %>
      </div>
      <div class="show_image">
        <% if recipe.screencapture.attached? %>
            <h3><%= t("form.screencapture_name") %> &nbsp;<%= recipe.screencapture.filename.base %></h3>
        <%end%>
      </div>
      <div class="remove_image">
        <%=f.label :remove_screencapture, t("form.remove_screencapture") %>
        <%= f.check_box :remove_screencapture %>
      </div>
      <div class="remove_image">
        <%=f.label :remove_screencapture_saved_locally, t("form.remove_screencapture_from_drive") %>
        <%= f.check_box :remove_screencapture_saved_locally %>
      </div>
    </div>
  </fieldset>

  <h3> <%= f.submit t("form.edit"), onclick: "show_loader();" %></h3>

  <div class="loader"></div>

<%end %>
