<%= form_for (recipe) do |f| %>

<div class="error_css">
    <% if @recipe.errors.any? %>
      <h2> Errors! </h2>
      <ul>
        <%  @recipe.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end  %>
      </ul>
    <% end %>
</div>

<h3> <%= f.label :name %> </h3>
  <%= f.text_field :name %>

  <p><fieldset><legend>Complexity</legend>
    <%= radio_button_tag(:complexity, "1") %>
    <%= label_tag(:complexity, "Easy") %>
    <%= radio_button_tag(:complexity, "2") %>
    <%= label_tag(:complexity, "Average") %>
    <%= radio_button_tag(:complexity, "3") %>
    <%= label_tag(:complexity, "Hard") %>
  </fieldset>

  <p><fieldset><legend>Category</legend>
    <% categories.each do |category| %>
      <%= radio_button_tag(:category_id, "#{category.id}") %>
      <%= label_tag(:category_id, "#{category.name}".capitalize) %>
    <% end %>
  </fieldset></p>

<h3>  <%= f.label(:servings)%></h3>
      <%= f.number_field :servings, value: 20, min: 1, max: 20 %>

<h3>  <%= f.label(:prep_time)%></h3>
      <%= f.number_field :prep_time %>

<!-- <p><fieldset><legend>Manual entry or Web address?</legend> -->
  <%#= radio_button_tag(:grabbed, value: false) %>
  <%#== label_tag(:grabbed, "Manual") %>
  <%#== radio_button_tag(:grabbed, value: true, disabled: false, onclick: "window.alert('I work!');") %>
  <%#== label_tag(:grabbed, "Web") %>
<!-- </fieldset></p> -->

<h3> <%= f.label :ingredients %> </h3>
  <%= f.text_area :ingredients %>

<h3> <%= f.label :directions %> </h3>
  <%= f.text_area :directions %>

<p><fieldset><legend>Photo upload</legend>
  <div class="load_photo_menu">
    <div class="upload_photo">
      <%=f.label :photos, "Upload photo", accept: "application/pdf,image/png,image/jpg,image/jpeg" %>
      <%=f.file_field :photos, multiple: true %>
    </div>
    <div class="show_photo">
      <% if @recipe.photos.attached? %>
        <%@recipe.photos.each do |photo|%>
          <h3>Photo name: &nbsp;<%= photo.filename %></h3>
        <%end%>
      <%end%>
    </div>
    <div class="remove_photo">
      <%=f.label :remove_photos, "Remove photos" %>
      <%= f.check_box :remove_photos %>
    </div>
  </div>
</fieldset></p>

<p><fieldset><legend>Web grabbed</legend>
  <div class="load_photo_menu">
    <div class="upload_photo">
      <%=f.label :screencapture, "Input URL" %>
      <%=f.url_field :screencapture, value: nil %>
    </div>
    <div class="screencapture_name">
      <%=f.label :screencapture_name, "Name the screencapture" %>
      <%= f.text_field :screencapture_name, value: nil, size: 30, maxlength: 100 %>
    </div>
  </div>
</fieldset></p>

<h3> <%= f.submit "Edit"%></h3>
<%end %>
