<%= form_for (recipe) do |f| %>

  <div class="error_css">
      <% if @recipe.errors.any? %>
        <h2> Errors! </h2>
        <ul>
          <%  @recipe.errors.full_messages.each do |message| %>
            <li> <%= message %> </li>
          <% end  %>
        </ul>
      <% end %>
  </div>

  <h3> <%= f.label :name %> </h3>
    <%= f.text_field :name %>

  <fieldset><legend>Category</legend>
    <% categories.each do |category| %>
      <%= radio_button_tag(:category_id, "#{category.id}") %>
      <%= label_tag(:category_id, "#{category.name}".capitalize) %>
    <% end %>
  </fieldset>

  <fieldset><legend>Complexity</legend>
    <%= radio_button_tag(:complexity, "1") %>
    <%= label_tag(:complexity, "Easy") %>
    <%= radio_button_tag(:complexity, "2") %>
    <%= label_tag(:complexity, "Average") %>
    <%= radio_button_tag(:complexity, "3") %>
    <%= label_tag(:complexity, "Hard") %>
  </fieldset>

  <div class="servings_field"><h3><%= f.label(:servings) %></h3>
      <%= f.number_field :servings, value: 20, min: 1, max: 20 %></div>

  <div class="prep_time_field"><h3><%= f.label(:prep_time) %></h3>
      <%= f.number_field :prep_time %></div>

  <h3> <%= f.label :ingredients %> </h3>
    <%= f.text_area :ingredients %>

  <h3> <%= f.label :directions %> </h3>
    <%= f.text_area :directions %>

  <fieldset><legend>Photo upload</legend>
    <div class="load_image_menu">
      <div class="upload_image">
        <%=f.label :photos, "Upload photo", accept: "application/pdf,image/png,image/jpg,image/jpeg" %>
        <%=f.file_field :photos, multiple: true %>
      </div>
      <div class="show_image">
        <% if @recipe.photos.attached? %>
          <%@recipe.photos.each do |photo|%>
            <h3>Photo name: &nbsp;<%= photo.filename %></h3>
          <%end%>
        <%end%>
      </div>
      <div class="remove_image">
        <%=f.label :remove_photos, "Remove photos" %>
        <%= f.check_box :remove_photos %>
      </div>
    </div>
  </fieldset>

  <fieldset><legend>Web grabbed</legend>
    <div class="load_image_menu">
      <div class="upload_image">
        <%=f.label :screencapture, "Input URL" %>
        <%=f.url_field :screencapture, value: nil %>
      </div>
      <div class="image_name">
        <%=f.label :screencapture_name, "Screencapture name" %>
        <%= f.text_field :screencapture_name, value: nil, size: 30, maxlength: 100 %>
      </div>
      <div class="show_image">
        <% if @recipe.screencapture.attached? %>
            <h3>Screencapture name: &nbsp;<%= @recipe.screencapture.filename.base %></h3>
        <%end%>
      </div>
      <div class="remove_image">
        <%=f.label :remove_screencapture, "Remove screencapture" %>
        <%= f.check_box :remove_screencapture %>
      </div>
      <div class="remove_image">
        <%=f.label :remove_screencapture_saved_locally, "Remove screencapture from drive " %>
        <%= f.check_box :remove_screencapture_saved_locally %>
      </div>
    </div>
  </fieldset>

  <h3> <%= f.submit "Edit"%></h3>
<%end %>
