<%= form_for (recipe) do |f| %>

<div class="error_css">
    <% if @recipe.errors.any? %>
      <h2> Errors! </h2>
      <ul>
        <%  @recipe.errors.full_messages.each do |message| %>
          <li> <%= message %> </li>
        <% end  %>
      </ul>
    <% end %>
</div>

<h3> <%= f.label :name %> </h3>
  <%= f.text_field :name %>

  <p><fieldset><legend>Complexity</legend>
    <%= radio_button_tag(:complexity, "1") %>
    <%= label_tag(:complexity, "Easy") %>
    <%= radio_button_tag(:complexity, "2") %>
    <%= label_tag(:complexity, "Average") %>
    <%= radio_button_tag(:complexity, "3") %>
    <%= label_tag(:complexity, "Hard") %>
  </p></fieldset>

  <p><fieldset><legend>Category</legend>
    <% categories.each do |category| %>
      <%= radio_button_tag(:category_id, "#{category.id}") %>
      <%= label_tag(:category_id, "#{category.name}".capitalize) %>
    <% end %>
  </p></fieldset>

<h3>  <%= f.label(:servings)%></h3>
      <%= f.number_field :servings, value: 20, min: 1, max: 20 %>

<h3>  <%= f.label(:prep_time)%></h3>
      <%= f.number_field :prep_time %>

<p><fieldset><legend>Manual entry or Web address?</legend>
  <%= radio_button_tag(:grabbed, value: false) %>
  <%= label_tag(:grabbed, "Manual") %>
  <%= radio_button_tag(:grabbed, value: true) %>
  <%= label_tag(:grabbed, "Web") %>
</p></fieldset>

<h3> <%= f.label :ingredients %> </h3>
  <%= f.text_area :ingredients %>

<h3> <%= f.label :directions %> </h3>
  <%= f.text_area :directions %>

<div class="load_photo">
  <%=f.label :photos, "Upload photo", accept: "application/pdf,image/png,image/jpg,image/jpeg" %>
  <%=f.file_field :photos, multiple: true %>

<% if @recipe.photos.attached? %>
  <%@recipe.photos.each do |photo|%>
    <h3>Photo name: &nbsp;<%= photo.filename %></h3>
  <%end%>
<%end%>

<%=f.label :remove_photos, "Remove photos" %>
<%= f.check_box :remove_photos %>

</div>

<h3> <%= f.submit "Edit"%></h3>
<%end %>
