<div class="db_header">
  <h1>External database (<a href="https://www.themealdb.com">TheMealDB</a>)</h1>
</div>
<hr>
<div class="db_search_area">
  <div class="db_search_grid">
    <div class="db_grid_item">
      <div class="db_search_by_area">
        <%= select_tag "selector_area" %>
        <%= button_tag t("homepage.search_button"), name: nil, class: "reset_button", id: "area_select_btn" %>
      </div>
    </div>
    <div class="db_grid_item">
      <div class="db_search_by_category">
        <%= select_tag "selector_category" %>
        <%= submit_tag(t("homepage.search_button"), name: nil, class: "reset_button", id: "category_select_btn") %>
      </div>
    </div>
    <div class="db_grid_item">
      <div class"db_search_by_ingredient">
        <%= select_tag "selector_ingredient" %>
        <%= submit_tag(t("homepage.search_button"), name: nil, class: "reset_button", id: "ingredient_select_btn") %>
      </div>
    </div>
    <div class="db_grid_item">
      <div class="search_bar">
          <%= text_field_tag :db_recipe, params[:recipe], :class => "search_field", :placeholder => t("homepage.search_text") %>
          <%= button_tag t("homepage.search_button"), name: nil, :id => "search_button", class: "reset_button", onclick: "getSearchedRecipe();" %>
      </div>
    </div>
    <div class="db_grid_item">
      <div class="db_surprise_button">
        <%= button_tag(t("filter.surprise"), name: nil, class: "reset_button", onclick: "getRandomRecipe();") %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="db_go_back">
   <h3>&#8678; <%=t("database.back")%></h3>
</div>
<div class="db_search_result_area">
</div>
