<div class="sign_up_form animated fadeInDown">

  <div class="close_sign_up">
    <%= button_tag "x" %>
  </div>

  <%= form_for sign_up do |f| %>
    <div class="name_field">
      <h3><%= f.label :name, t("pop_up_form.user") %></h3>
      <%= f.text_field :name %>
    </div>
    <div class="password_field">
      <h3><%= f.label :password, t("pop_up_form.password") %></h3>
      <%= f.password_field :password %>
    </div>
    <div class="password_field">
      <h3><%= f.label :password_confirmation, t("pop_up_form.password_confirmation") %></h3>
      <%= f.password_field :password_confirmation %>
    </div>
      <h3><%= f.submit t("homepage.sign_up") %></h3>
  <% end %>
</div>
