<h1><%= t("user.edit_profile")%></h1>

<%= form_for @user do |f| %>

<div class="close_log_in">
  <%= button_tag "x", type: "submit", name: "cancel", value: true %>
</div>

<div class="error_css">
<%  if @user.errors.any? %>
  <h2><%= t("user.errors")%>:</h2>
  <ul>
      <%  @user.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end  %>
  </ul>
<% end %>
</div>

  <div class="field">
    <h3><%= f.label :name, t("user.user") %></h3>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <h3><%= f.label :password, t("user.password") %></h3>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <h3><%= f.label :password_confirmation, t("user.password_confirmation") %></h3>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <h3><%= f.submit t("user.save_user") %></h3>
  </div>
<% end %>
