
<% if current_user%>

  <div class="category_menu">
    <div class="categories">
      <% @categories.each do |category| %>
      <div class="category_section">
        <div class="category_logo">
          <%= link_to("", category_path(category), :class => "category", :id => category.name[0..3]) %>
        </div>
        <div class="category_button">
          <%= link_to(category.name, category_path(category), :class => "category_names") %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

<% else %>

  <div class="images_content">
    <div class="images">
      <div class="image">
        <%= image_tag 'pasta-pomodorino.png', :class => "pic_img", :width => "500" %>
      </div>
      <div class="image">
        <%= image_tag 'involtino-pollo-prosciutto.jpg', :class => "pic_img", :width => "500" %>
      </div>
      <div class="image">
        <%= image_tag 'tiramisu.jpg', :class => "pic_img", :width => "500" %>
      </div>
      <div class="image">
        <%= image_tag 'medovy.jpg', :class => "pic_img", :width => "500" %>
      </div>
      <div class="image">
        <%= image_tag 'pizza-melanzane.jpg', :class => "pic_img", :width => "500" %>
      </div>
      <div class="image">
        <%= image_tag 'quiche.jpg', :class => "pic_img", :width => "500" %>
      </div>
      <div class="image">
        <%= image_tag 'crepes.jpg', :class => "pic_img", :width => "500" %>
      </div>
    </div>
  </div>

<% end %>
