
<% if current_user%>

  <div class="category_menu">
    <div class="categories">
      <% @categories.each do |category| %>
      <div class="category_section">
        <div class="category_logo">
          <%= link_to("", category_path(category), :class => "category", :id => category.name[0..3]) %>
        </div>
        <div class="category_button">
          <%= link_to(category.name, category_path(category), :class => "category_names") %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

<% else %>

  <div class="slideshow">
    <div class="content">
      <div class="content-carrousel">
        <div class="shadow">
          <%= image_tag 'pasta-pomodorino.png'%>
        </div>
        <div class="shadow">
          <%= image_tag 'involtino-pollo-prosciutto.jpg'%>
        </div>
        <div class="shadow">
          <%= image_tag 'tiramisu.jpg'%>
        </div>
        <div class="shadow">
          <%= image_tag 'medovy-cake.jpg'%>
        </div>
        <div class="shadow">
          <%= image_tag 'pizza-melanzane.jpg'%>
        </div>
        <div class="shadow">
          <%= image_tag 'quiche.jpg'%>
        </div>
        <div class="shadow">
          <%= image_tag 'crepes.jpg'%>
        </div>
      </div>
    </div>
  </div>

<% end %>
