<div class = "category_header">
  <h1><%= @category.name.capitalize %> <%= t("recipe.recipes")%></h1>
</div>
<hr>
<div class="block">
  <% @category.recipes.most_viewed.each do |recipe|%>
    <%if @user_recipes.include?(recipe)%>
      <div class="index_recipe">
        <h3><%=link_to(recipe.name, recipe_path(recipe)) %></h3>
        <h3><%= t("recipe.prep_time")%>: &nbsp;&nbsp;<span><%=recipe.prep_time%></span> <%= t("recipe.min")%></h3>
        <h3><%= t("recipe.difficulty")%>: &nbsp;&nbsp;
          <span><%recipe.complexity.times do %>
                    <%= image_tag 'cookbook_no_bg.png', :class => "logo_img_diff", :width => "30", :length => "30" %>
                <%end%>
          </span>
        </h3>
        <h3><%= t("recipe.servings")%>: &nbsp;&nbsp;<span><%=recipe.servings%></h3>
        <h3><%= t("recipe.ingredients")%>: &nbsp;&nbsp;<span><%=recipe.ingredients%></span></h3>
        <h3><%= t("recipe.directions")%>: &nbsp;&nbsp;<span><%=recipe.directions%></span></h3>
      </div>
    <%end%>
  <%end%>
</div>
