<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Ruluko" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% %w(192 384).each do |s| %>
      <%= favicon_link_tag "android-chrome-#{s}x#{s}.png", rel: 'android-chrome-icon', type: 'image/png', sizes: "#{s}x#{s}" %>
    <% end %>

      <%= favicon_link_tag "apple-touch-icon.png", rel: 'apple-touch-icon', type: 'image/png' %>

    <% %w(16 32).each do |s| %>
      <%= favicon_link_tag "favicon-#{s}x#{s}.png", rel: 'icon', type: 'image/png', sizes: "#{s}x#{s}" %>
    <% end %>

  </head>

  <body>

    <div class="navigation_bar">
      <div class="nav_1">
        <div class="logo">
          <div class="top_centre">
            <% if current_user%>
              <h2 class = "logo_text"><%= "#{current_user.name}'s" %></h2>
            <% else %>
              <h2 class = "logo_text"><%= "Your" %></h2>
            <% end %>
            <%= image_tag 'android-chrome-384x384.png', :class => "logo_img", :width => "200", :length =>"100" %>
          </div>
          <div class="top_centre">
            <p><%="The place where your recipes are at home"%></p>
          </div>
        </div>
          <div class="top_bottom">
            <ul class="user_options">
              <% if current_user%>
                <div class="logged_in">
                  <% if !request.path_info.include?("search") %>
                    <li><%= link_to "#{current_user.name}", user_path(current_user) %></li>
                    <li><%= link_to "sign_out", session_path("purple"), :method => :delete %></li>
                  <% end %>
                </div>
              <% else %>
                <div class="logged_out">
                  <% if !request.path_info.include?("search") %>
                    <li class="sign_in"><%= link_to "sign_up", new_user_path %></li>
                    <li class="log_in"><%= link_to "log_in", new_session_path, :class => "login_button" %></li>
                  <% end %>
                </div>
              <% end %>
            </ul>
          </div>
      </div>
      <div class="nav_2">
        <div class="">
          <div class="user_options">
            <% if current_user %>
              <div class="search_bar">
                <%= form_tag(recipe_search_path, {:id => 'search_form'}) do %>
                <%= text_field_tag :recipe, params[:recipe], :class => "search_field" %><%= submit_tag "search_button", :placeholder => 'Search for recipes!', name: nil, :class => "search_button" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>


        <br>
      </div>
    </div>

    <main>
      <% flash.each do |key, message| %>
      <div class="flash-<%= key %>"><span class="error_message"><%= message %><span></div>
      <% end %>
       <%#= render 'sessions/form' %>
       <%#= render 'users/form' %>
      <%= yield %>
    </main>
    <footer>
      <div class="info_nav">
        <ul class="info_list">
          <p><%="Made by Constantine"%></p>
          <li><%= link_to("About me", about_path) %></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
