<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Ruluko" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% %w(192 384).each do |s| %>
      <%= favicon_link_tag "android-chrome-#{s}x#{s}.png", rel: 'android-chrome-icon', type: 'image/png', sizes: "#{s}x#{s}" %>
    <% end %>

      <%= favicon_link_tag "apple-touch-icon.png", rel: 'apple-touch-icon', type: 'image/png' %>

    <% %w(16 32).each do |s| %>
      <%= favicon_link_tag "favicon-#{s}x#{s}.png", rel: 'icon', type: 'image/png', sizes: "#{s}x#{s}" %>
    <% end %>

  </head>

  <body>

    <div class="lang_switch">
      <%if !request.path_info.include?("search") && !request.path_info.include?("filter") %>
          <span id="switch_lang"><%=link_to("🇨🇦", {:locale=>"en"}, :id => "en")%>  <%=link_to("🇮🇹", {:locale=>"it"}, :id => "it")%>   <%=link_to("🇫🇷", {:locale=>"fr"}, :id => "fr")%>  <%=link_to("🇷🇺", {:locale=>"ru"}, :id => "ru") %>
          </span>
      <%end%>
    </div>

    <div class="surf_history">
      <% if @trace && @trace.any? %>
        <h3>Surf History</h3>
          <% @trace[0..2].each do |trace| %>
            <ul><%= link_to trace, trace %></ul>
          <% end %>
      <% end %>
    </div>

    <div class="navigation_bar">
      <div class="nav_1">
        <div class="top_top">
          <% if current_user%>
            <h2 class="logo_text"><%= link_to "#{current_user.name}'s", user_path(current_user) %></h2>
          <% else %>
            <h2 class="logo_text"><%= t("homepage.your") %></h2>
          <% end %>
          <%= link_to (image_tag 'android-chrome-384x384.png', :class => "logo_img", :width => "250", :length =>"100"), root_path %>
        </div>
        <div class="top_centre">
          <p><%= t("homepage.headliner") %></p>
        </div>
        <div class="top_bottom">
          <div class="user_options">
            <% if current_user%>
              <div class="logged_in">
                <% if !request.path_info.include?("search") %>
                  <li><%= link_to t("homepage.log_out"), session_path("supercazzola"), :method => :delete %></li>
                <% end %>
              </div>
            <% else %>
              <div class="logged_out">
                <% if !request.path_info.include?("search") %>
                  <span class="sign_in"><%= submit_tag(t("homepage.sign_up"), name: nil, class: "signin_button", onclick: "show_sign_in();") %></span>
                  <span class="log_in"><%= submit_tag(t("homepage.log_in"), name: nil, class: "login_button", onclick: "show_log_in();") %></span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="nav_2">
          <div class="user_options">
            <% if current_user %>
              <div class="search_bar">
                <%= form_tag(recipe_search_path, {:id => 'search_form'}) do %>
                  <%= text_field_tag :recipe, params[:recipe], :class => "search_field", :placeholder => t("homepage.search_text") %>
                  <%= submit_tag t("homepage.search_button"), name: nil, :class => "search_button" %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="user_options">
            <% if current_user && request.path_info.include?("recipes/") && !request.path_info.include?("new") && !request.path_info.include?("search") && !request.path_info.include?("filter") && !request.path_info.include?("database") %>
              <span><%= link_to t("homepage.my_recipes"), recipes_path%></span>
              <span><%= link_to t("homepage.new_recipe"), new_recipe_path%></span>
              <span><%= link_to(t("homepage.edit_recipe"), edit_recipe_path, :id => "edit_recipe_button") %></span>
              <span><%= link_to(t("homepage.delete_recipe"), recipe_path(@recipe), method: :delete, data: {confirm: t("messages.sure_to_delete_recipe")}, :id => "delete_recipe_button") %></span>
            <% elsif current_user %>
              <span><%= link_to t("homepage.my_recipes"), recipes_path%></span>
              <span><%= link_to t("homepage.new_recipe"), new_recipe_path%></span>
              <span><%= link_to t("homepage.database"), recipes_database_path%></span>
            <% end %>
          </div>
      </div>
      <%# if current_user %>
        <div class="flash_message">
          <% flash.each do |key, message| %>
            <div class="flash-<%= key %>"><span class="error_message"><%= message %></span></div>
          <% end %>
        </div>
      <%# end %>
    </div>

    <main>
     <%= render 'sessions/form' %>
     <%= render 'users/form' %>
     <%= yield %>
    <div class="most_popular">
      <% if current_user && !request.path_info.include?("about") %>
        <h2 class="most_viewed"><%=t("homepage.most_popular")%></h2>
        <div class="most_viewed_block">
          <% most_viewed_recipes.each do |recipe|%>
            <div class = "index_recipe">
                <h3><%=link_to("#{recipe.name}", recipe_path(recipe))%></h3>
                <h3><span><%=recipe.visits%>&nbsp;&nbsp;<%=t("homepage.views")%></span></h3>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    </main>
    <footer>
      <div class="info_nav">
        <ul class="info_list">
          <p><%=t("homepage.made_by")%></p>
          <li><%= link_to(t("homepage.about"), about_path) %></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
